@()

@main(Messages("application.portal.title")) {
<main id="wrapper" role="main">
<div id="content">
<header class="page-header group">
    <div class="hgroup">
        <h1>Records for all fleet vehicles</h1>
        <h2 class="subtitle">Fleet reference number 123456</h2>
    </div>
</header>
<!-- Alert START -->
<div class="alert-wrapper alert-wrapper-full-width"></div>
<div class="grid-wrapper alert-wrapper">
    <div class="grid grid-1-3">
        <div class="inner-block">
            <div class="alert success-alert">
                <div class="alert-title"><p><span class="alert-white-arrow inactive-arrow"></span> Number of vehicles</p></div>
                <div class="data alert-body">
                    <h2 class="bold-xlarge">245,963</h2>
                    <p class="bold-xsmall">vehicles in your fleet</p>
                </div>
                <!--<a href="#"></a>-->
            </div>
            <div class="success-alert-wedge active-alert"></div>
        </div>
    </div>
    <div class="grid grid-1-3">
        <div class="inner-block">
            <div class="alert danger-alert">
                <div class="alert-title"><p><span class="alert-white-arrow"></span> Vehicle age</p></div>
                <div class="data alert-body inactive-alert-body">
                    <h2 class="bold-xlarge">283</h2>
                    <p class="bold-xsmall">vehicles are approaching 30 months old</p>
                </div>
                <a href="#"></a>
            </div>
            <!--<div class="danger-alert-wedge active-alert"></div>-->
        </div>
    </div>
    <div class="grid grid-1-3">
        <div class="inner-block">
            <div class="alert danger-alert">
                <div class="alert-title"><p><span class="alert-white-arrow"></span> Date of liability</p></div>
                <div class="data alert-body inactive-alert-body">
                    <h2 class="bold-xlarge">9402</h2>
                    <p class="bold-xsmall">vehicles have an expired date of liability or are due in the next 60 days</p>
                </div>
                <a href="#"></a>
            </div>
            <!--<div class="danger-alert-wedge active-alert"></div>-->
        </div>
    </div>
</div>
<!-- Alert END -->
<article class="inner-block">
    <div class="grid grid-1-3">
        <div class="filter-block">
            <!-- Filter Results START -->
            <h3 class="heading-medium">Filter results</h3>
            <form action="" method="post" class="form-group">
                <div class="form-group">
                    <label class="form-label" for="reg">Registration number</label>
                    <input type="text" class="form-control" id="reg" style="text-transform: uppercase;">
                </div>
                <div class="form-group">
                    <label class="form-label" for="make">Vehicle make</label>
                    <input type="text" class="form-control" id="make" style="text-transform: uppercase;">
                </div>
                <div class="form-group">
                    <label class="form-label" for="tax">Tax class</label>
                    <input type="text" class="form-control" id="tax" style="text-transform: uppercase;">
                </div>
                <div class="form-group">
                    <label class="form-label">Date of liability</label>
                    <div class="grid grid-1-2">
                        <div class="date-from-to">
                            <!--<span class="form-hint">From</span>-->
                            <div class="form-group form-group-inner form-group-month">
                                <label for="date-of-liability-month">Month</label>
                                <input type="text" class="form-control" id="date-of-liability-month">
                            </div>
                            <div class="form-group form-group-inner form-group-year">
                                <label for="date-of-liability-year">Year</label>
                                <input type="text" class="form-control" id="date-of-liability-year">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Date of first registration</label>
                    <div class="grid grid-1-2">
                        <div class="date-from-to">
                            <span class="form-hint">From</span>
                            <div class="form-group form-group-inner form-group-month">
                                <label for="date-of-liability-month">Month</label>
                                <input type="text" class="form-control" id="date-of-liability-month">
                            </div>
                            <div class="form-group form-group-inner form-group-year">
                                <label for="date-of-liability-year">Year</label>
                                <input type="text" class="form-control" id="date-of-liability-year">
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-1-2">
                        <div class="date-from-to">
                            <span class="form-hint">To</span>
                            <div class="form-group form-group-inner form-group-month">
                                <label for="date-of-liability-month">Month</label>
                                <input type="text" class="form-control" id="date-of-liability-month">
                            </div>
                            <div class="form-group form-group-inner form-group-year">
                                <label for="date-of-liability-year">Year</label>
                                <input type="text" class="form-control" id="date-of-liability-year">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">MOT date</label>
                    <div class="grid grid-1-2">
                        <div class="date-from-to">
                            <span class="form-hint">From</span>
                            <div class="form-group form-group-inner form-group-month">
                                <label for="date-of-liability-month">Month</label>
                                <input type="text" class="form-control" id="date-of-liability-month">
                            </div>
                            <div class="form-group form-group-inner form-group-year">
                                <label for="date-of-liability-year">Year</label>
                                <input type="text" class="form-control" id="date-of-liability-year">
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-1-2">
                        <div class="date-from-to">
                            <span class="form-hint">To</span>
                            <div class="form-group form-group-inner form-group-month">
                                <label for="date-of-liability-month">Month</label>
                                <input type="text" class="form-control" id="date-of-liability-month">
                            </div>
                            <div class="form-group form-group-inner form-group-year">
                                <label for="date-of-liability-year">Year</label>
                                <input type="text" class="form-control" id="date-of-liability-year">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <button type="submit" name="" value="Search" onclick="" id="MainContent_butSearch" class="button">Update results</button>
                </div>
            </form>
            <!-- Filter Results END -->
        </div>
    </div>
    <div class="grid grid-2-3">
        <!-- Show entries / download START -->
        <div class="table-column">
            <div class="table-control">
                <span class="entries pull-left">
                    <p>Show <a class="active" href="#">25</a>, <a href="#">50</a> <a href="#">75</a>, <a href="#">100</a> entries</p>
                </span>
                <span class="extract pull-right">
                    <p>Extract data as: <a href="#">CSV</a></p>
                </span>
                <div class="pagination">
                    <span class="arrow-button pull-left">
                        <a href="#">&#8249;</a>
                    </span>
                    <span class="arrow-button pull-right">
                        <a href="#">&#8250;</a>
                    </span>
                    <span class="contain">Page 2 of 56</span>
                </div>
            </div>
            <!-- Show entries / download END -->
            <!-- Results Table START -->
            <table>
                <thead>
                <tr>
                    <th>Registration number</th>
                    <th>Vehicle make</th>
                    <th>Tax class</th>
                    <th>Date of liability</th>
                    <th>Date of first registration</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">AU07 VGM</a></td>
                    <td>Ford</td>
                    <td>1</td>
                    <td>01 Sep 2014</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">BU12 VGM</a></td>
                    <td>BMW</td>
                    <td>2</td>
                    <td>29 Sep 2014</td>
                    <td>29 Sep 2012</td>
                </tr>
                <tr>
                    <td><a href="#">CU07 VGM</a></td>
                    <td>Renault</td>
                    <td>3</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">DU07 VGM</a></td>
                    <td>Kia</td>
                    <td>4</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">EU07 VGM</a></td>
                    <td>Audi</td>
                    <td>5</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">FU12 VGM</a></td>
                    <td>BMW</td>
                    <td>12</td>
                    <td>14 Sep 2016</td>
                    <td>29 Sep 2012</td>
                </tr>
                <tr>
                    <td><a href="#">CU07 VGM</a></td>
                    <td>Renault</td>
                    <td>23</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">DU07 VGM</a></td>
                    <td>Kia</td>
                    <td>56</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">EU07 VGM</a></td>
                    <td>Audi</td>
                    <td>78</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">FU12 VGM</a></td>
                    <td>BMW</td>
                    <td>99</td>
                    <td>14 Sep 2016</td>
                    <td>29 Sep 2012</td>
                </tr>
                <tr>
                    <td><a href="#">FU12 VGM</a></td>
                    <td>BMW</td>
                    <td>12</td>
                    <td>14 Sep 2016</td>
                    <td>29 Sep 2012</td>
                </tr>
                <tr>
                    <td><a href="#">CU07 VGM</a></td>
                    <td>Renault</td>
                    <td>23</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">DU07 VGM</a></td>
                    <td>Kia</td>
                    <td>56</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">EU07 VGM</a></td>
                    <td>Audi</td>
                    <td>78</td>
                    <td>30 Mar 2015</td>
                    <td>30 Mar 2007</td>
                </tr>
                <tr>
                    <td><a href="#">FU12 VGM</a></td>
                    <td>BMW</td>
                    <td>99</td>
                    <td>14 Sep 2016</td>
                    <td>29 Sep 2012</td>
                </tr>
                </tbody>
            </table>
            <!-- Results Table END -->
            <!-- Pagination START -->
            <div class="table-control">
                <a href="#" class="pull-left">
                    <span class="first arrow">
                        <span class="arrow-button">&laquo;</span>
                        <span class="contain">
                            <span class="link">First</span>
                        </span>
                    </span>
                </a>
                <a href="#" class="pull-right">
                    <span class="last arrow">
                        <span class="arrow-button">&raquo;</span>
                        <span class="contain">
                            <span class="link">Last</span>
                        </span>
                    </span>
                </a>
                <div class="pagination">
                    <span class="arrow-button pull-left">
                        <a href="#">&#8249;</a>
                    </span>
                    <span class="arrow-button pull-right">
                        <a href="#">&#8250;</a>
                    </span>
                    <span class="contain">Page 2 of 56</span>
                </div>
                <form action="" method="post" class="form-group go-to">
                    <label class="form-label" for="goTo">Go to page</label>
                    <input type="text" class="form-control" id="goTo" style="text-transform: uppercase;">
                    <button type="submit" name="" value="Search" onclick="" id="MainContent_butSearch" class="button">Go</button>
                </form>
            </div>
            <!-- Pagination END -->
        </div>
    </div>
</article>
<!-- / .inner-block -->
</div>
<!-- / #content -->
</main>
}